<div>
   <!-- <h1>{{title}}</h1> -->
    <!-- <div class='breadcrumbs'> --> 
    <br>
    <h2><center>BT LE 4.0 Nodes</center></h2>
    <!-- </div> --> 
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th>RSSI</th>
          <th>Manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {{#each nodes}}
          {{#each this}}
            <tr>
              <td>
                <ul>
                  {{#each this.bdaddrs}}
                    <li>
                      <a href='/nodes/{{this.bdaddr}}'>
                        {{this.bdaddr}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </td>
              <td>
                {{this.rssi}}
              </td>
              <td>
                {{this.advertisement.localName}}
              </td>
            </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>
    
    
    <!--  <div class='breadcrumbs'>-->
    <br>
    <h2><center>BT 4.2 6Lo Nodes</center></h2>
    <!-- </div>-->
    <table>
      <thead>
        <tr>
          <th>Local Address</th>
          <th>Global Addres</th>
        </tr>
      </thead>
      <tbody>
            <?php
         	$f = fopen("../../../../connected_modules.txt", "r");
         
         	// Read line by line until end of file
         	while (!feof($f)) { 
         	// Make an array using comma as delimiter
         	   $arrM = explode(",",fgets($f)); 
         
              
               
         	// Write links (get the data in the array)
         	   echo " <tr> <td><li><a href='http://" . $arrM[1] . "'>" . $arrM[0]. "</a></li></td> <td></td> </tr>"; 
         	}
         	fclose($f);
         	?>
         
            
        
      </tbody>
    </table>
</div>
