<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
<script>
$(document).ready(function() {
// AJAX in the data file
   $.ajax({
       type: "GET",
       url: "http://download.microsoft.com/download/5/B/2/5B2108F8-112B-4913-A761-38AFF2FD8598/Sample CSV file for importing contacts.csv",
       dataType: "txt",
       success: function(data) {processData(data);}
       });

   // Let's process the data from the data file
   function processData(data) {
       var lines = data.split(/\r\n|\n/);

       //Set up the data arrays
       var time = [];
       var data1 = [];
       var data2 = [];
       var data3 = [];

       var table="<tr><th>IP1</th><th>IP2</th></tr>";

       var headings = lines[0].split(','); // Splice up the first row to get the headings

       for (var j=1; j<lines.length; j++) {
           var values = lines[j].split(','); // Split up the comma seperated values
           table += "<tr><td>"   +
                       values[0] +
                    "</td><td>"  +
                       values[1] +
                    "</td></tr>";
       }
       document.getElementById("table1").innerHTML = table;
   }
})
</script>

<div>
   <!-- <h1>{{title}}</h1> -->
    <!-- <div class='breadcrumbs'> --> 
    <br>
    <h2><center>BT LE 4.0 Nodes</center></h2>
    <!-- </div> --> 
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th>RSSI</th>
          <th>Manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {{#each nodes}}
          {{#each this}}
            <tr>
              <td>
                <ul>
                  {{#each this.bdaddrs}}
                    <li>
                      <a href='/nodes/{{this.bdaddr}}'>
                        {{this.bdaddr}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </td>
              <td>
                {{this.rssi}}
              </td>
              <td>
                {{this.advertisement.localName}}
              </td>
            </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>

    <!--  <div class='breadcrumbs'>-->
    <br>
    <h2><center>BT 4.2 6Lo Nodes</center></h2>
    <div id="table1"></div>
    <object data="connected_modules.txt" type="text/plain"
   width="500" style="height: 300px">
   <a href="connected_modules.txt">No Support?</a>
   </object>
    <!-- </div>
    <table>
      <thead>
        <tr>
          <th>Local Address</th>
          <th>Global Addres</th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table> -->
</div>
