
<div>
   <!-- <h1>{{title}}</h1> -->
    <!-- <div class='breadcrumbs'> --> 
    <br>
    <h2><center>BT LE 4.0 Nodes</center></h2>
    <!-- </div> --> 
    <table>
      <thead>
        <tr>
          <th>Address</th>
          <th>RSSI</th>
          <th>Manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {{#each nodes}}
          {{#each this}}
            <tr>
              <td>
                <ul>
                  {{#each this.bdaddrs}}
                    <li>
                      <a href='/nodes/{{this.bdaddr}}'>
                        {{this.bdaddr}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </td>
              <td>
                {{this.rssi}}
              </td>
              <td>
                {{this.advertisement.localName}}
              </td>
            </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>

    <!--  <div class='breadcrumbs'>-->
    <br>
    <h2><center>BT 4.2 6Lo Nodes</center></h2>
    <!-- </div>-->
    <table>
      <thead>
        <tr>
          <th>Local Address</th>
          <th>Global Addres</th>
        </tr>
      </thead>
      <tbody>
         <iframe src="../../../connected_modules.txt" frameborder="0" height="400" width="95%"></iframe>
       
      </tbody>
    </table>
</div>
