<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet"  href="/stylesheet.css" type="text/css" media="all">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/bean.js" type="text/javascript"></script>
        <script src="/bean_message.js" type="text/javascript"></script>
        <script src="/bean_data.js" type="text/javascript"></script>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
          <script>
        $(document).ready(function() {
         // AJAX in the data file
            $.ajax({
                type: "GET",
                url: "public/data.csv",
                dataType: "csv",
                success: function(data) {processData(data);}
                });

            // Let's process the data from the data file
            function processData(data) {
                var lines = data.split(/\r\n|\n/);

                //Set up the data arrays
                var time = [];
                var data1 = [];
                var data2 = [];
                var data3 = [];

                var table="<tr><th>IP1</th><th>IP2</th></tr>";

                var headings = lines[0].split(','); // Splice up the first row to get the headings

                for (var j=1; j<lines.length; j++) {
                    var values = lines[j].split(','); // Split up the comma seperated values
                    table += "<tr><td>"   +
                                values[0] +
                             "</td><td>"  +
                                values[1] +
                             "</td></tr>";
                }
                document.getElementById("table1").innerHTML = table;
            }
        })
        </script>
    </head>
    <body>
        <h1>Seminar Work <br> IoT Gateway + Router Explorer</h1>
        {{{ content }}}
    </body>
</html>
